* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
}

/* barre de navigation */

nav {
    background-color: #333;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

a img {
    height: 30px;
    margin-right: 10px;
}

#banner
{
    background-image: url("./assets/images/banniere_.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;

}

.logo {
    

    height: 100p%;
    width: 100%;

}

.logo img {
    height: 100px;
    width: 100px;
}

/* Accueil */

/* Biographie */
/* Techniques */
/* Transformations */
/* Quiz */

/* Footer */
footer {
    position: absolute;
    width: 100%;
    height: 46.32px;
    left: 2px;
    top: 4577px;
    background: #7E161A;
}