.gif1 {
    width: 350px ;
    height: 200px;
    border-radius: 5%;
}

.gif2 {
    width: 400px;
    height: 275px;
    border-radius: 15%;
}

.gif3 {
    width: 350px ;
    height: 200px;
    border-radius: 5%;
}

.container1{
    display: flex;
    margin-top: 30px;
    text-align: right;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
}

.container3{
    display: flex;
    margin-bottom: 30px;
}

.techniques{
    margin-top: 20px;
}