.gif1 {
    width: 350px ;
    height: 200px;
    border-radius: 5%;
}

.gif2 {
    width: 400px;
    height: 275px;
    border-radius: 15%;
}

.gif3 {
    width: 350px ;
    height: 200px;
    border-radius: 5%;
}

.container1{
    display: flex;
    margin-top: 30px;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
}

.container3{
    display: flex;
    margin-bottom: 30px;
}

.technic-description{
    width: 50%;
    margin: 20px;
}

h3
{
    color: white;
    margin-top: 20px;
}
.technic-cero{
    text-align: end;
}

@media screen and (max-width:400px){
    /* #technic{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    } */
    .container1,.container2,.container3
    {
        display: flex;
        flex-direction: column;
    }

    .technic-description{
        width: 100%;
        margin: 20px 40px 20px 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .technic-cero{
        text-align: center;
    }
    .container3
    {
        margin-top: 20px;
    }
}
